[2018-10-19 11:24] SPortugall opened #1 "Aufgabe 4 // create Java Code"
![unbenannt](https://user-images.githubusercontent.com/43878655/47215536-08c39c00-d3a2-11e8-900a-ef2341b11963.PNG)

Wie lautet der zum dargestellten Klassendiagramm passende Java Code?

Review macht @SPortugall

[2018-10-19 11:34] SPortugall opened #2 "Aufgabe 5 // zeichne Objektdiagramm zu Aufgabe 4"
Erstellen mit draw.io !

Review wird gemacht von @jwalteri

[2018-10-20 15:54] SPortugall commented on #1
test

[2018-10-20 21:49] jwalteri commented on #2
Review erfolgreich

[2018-10-20 21:49] #2 closed, assigned to haerrel

[2018-10-21 09:46] SPortugall commented on #1
Ich habe dem vorhandenen commit folgendes hinzugefügt:
- leere Klasse "GeldBetrag" // sie war zwar nicht direkt angegeben im UML, aber zwingend notwendig, denn sie ist als DatenTyp in der Klasse Konto und andernfalls würde der javacode einen Fehler beinhalten => meiner Meinung nach darf kein fehlerhafter Code gepusht werden
- 1..* assoziation versucht darzustellen durch einen Konstruktor, der das

[2018-10-21 11:39] hupling commented on #1
Review erfolgreich

[2018-10-21 11:39] #1 closed, assigned to hupling

[2018-10-24 11:37] haerrel opened #3 "Aufgabe 1 (Übungsblatt 2)"

[2018-10-24 11:39] haerrel opened #4 "Aufgabe 2 (Übungsblatt 2)"

[2018-10-24 11:39] haerrel opened #5 "Aufgabe 3 (Übungsblatt 2)"

[2018-10-24 11:39] haerrel opened #6 "Aufgabe 4 (Übungsblatt 2)"

[2018-10-24 11:40] haerrel opened #7 "Aufgabe 5 (Übungsblatt 2)"

[2018-10-24 11:40] haerrel opened #8 "Aufgabe 6 (Übungsblatt 2)"

[2018-10-24 11:41] haerrel opened #9 "Aufgabe 7 (Übungsblatt 2)"

[2018-10-24 11:41] haerrel opened #10 "Aufgabe 8 (Übungsblatt 2)"

[2018-10-24 11:44] haerrel opened #11 "Aufgabe 9 (Übungsblatt 2)"
Abhängig von Aufgabe8 #10

[2018-10-25 19:06] haerrel commented on #4
@hupling / zukünftiger Reviewer:
Mit "l) Entscheidung und Zusammenführung" sind vermutlich nicht die Einzelelemente sonder die Kombination derer gemeint.
Siehe dazu S. 283 UML-Buch (Bernd Oestereicher)

[2018-10-25 20:37] haerrel commented on #11
Offene Fragen:
Abfolge der drucken()-Anweisungen so korrekt?
=> Antwort: Es gibt keine konkrete Reihenfolge. Einfach die Reihenfolge vom Aufgabentext verwenden, wie die Objekte aufgezählt werden.

[2018-10-25 20:41] haerrel commented on #10
Offene Fragen:
- sind die Rollenangaben (Teile / Teil, gehört_zu) so korrekt? => weglassen
- Sichtbarkeit relevant in Objektdiagramm? => weglassen, da ja durch Klasse vorgegeben und nicht änderbar
- Aggregation angeben? => Nein
- EinfacheGrafik: grafikdaten mit angeben obwohl keine Werte bekannt (vermutlich nicht)? => ja, aber keinen konkreten Wert liefern. Es genügt: grafikdaten=

ToDo:
- siehe A

[2018-10-25 20:42] haerrel commented on #5
Offene Fragen:
- sollen die Anwendungsfälle, die nicht dem System angehören, auch aufgeführt werden? z.B. Kontaktaufnahme(Telefon, Messaging Service), Bezahlung
=> Antwort: Nein! In einem Use-Case-Diagramm sollen immer nur die Funktionalitäten eines bestimmten Systems erkenntlich sein. Deshalb müssen die Funktionalitäten außerhalb des Systems nicht mit angegeben werden.

ToDo:
- include extend Anw

[2018-10-26 10:59] haerrel commented on #11
@SPortugall bitte reviewen

[2018-10-26 11:01] haerrel commented on #3
@SPortugall bitte reviewn

[2018-10-26 11:01] haerrel commented on #5
@SPortugall Bitte reviewen

[2018-10-26 11:02] hupling commented on #4
@jwalteri  bitte review

[2018-10-26 11:04] haerrel commented on #5
@SPortugall  Bitte reviewen

[2018-10-26 11:18] SPortugall commented on #6
Review macht @haerrel

[2018-10-26 18:26] haerrel commented on #10
@SPortugall bitte reviewen

[2018-10-26 19:05] haerrel commented on #6
1. "Entscheidung" Element und dessen ausgehenden Kontrollflüsse (samt Bedingungen) werden im Buch anders dargestellt. Siehe S. 279, S. 283. Schlage deshalb vor es nach Buchvorbild zu modellieren:
![image](https://user-images.githubusercontent.com/38572411/47586491-b0bc0500-d960-11e8-966f-aff927e1c28b.png)

2. Bitte alle Pfeile durch Pfeile mit offener Spitze austauschen. Aktuell sind es ausgefüllt

[2018-10-26 19:27] haerrel commented on #11
Hab selber noch Fehler gefunden:
- "Return" auf den Antwort-Pfeilen eines synchronen Ausrufs durch "bool" austauschen. Professorin Socher hat dies in Übungsblatt 2 unter Aufgabe 7 ebenfalls so modelliert.
- Abschließender Antwort-Pfeil fehlt

[2018-10-28 10:46] SPortugall commented on #8
Ready for Review @haerrel

[2018-10-28 14:54] SPortugall commented on #5
Review :
- Bezeichner der Akteure ist korrekt
- Beide können Mitfahrgelegenheiten absagen
- Beide haben einen spezialisierten Anwendungsfall (Fahrt eingeben / Gelegenheit suchen) welcher einen übergeordneten anderen Anwendungsfall mit einbezieht
=> Aufgabe Abgenommen

[2018-10-28 15:01] SPortugall commented on #10
Review;
sieht gut aus. Dokumente so dargestellt wie in Aufgabe 8 beschrieben und Attribute könnten befüllt werden, dies ist aber wegen keinen genauen Angaben nicht möglich.
Status: Abgenommen

[2018-10-28 16:36] haerrel commented on #6
Review abgeschlossen
Bitte noch Professorin Socher wegen dem nicht verwendeten Synchronisationselement fragen.

[2018-10-28 17:03] SPortugall commented on #11
Review abgeschlossen

[2018-10-28 22:09] jwalteri commented on #3
@hupling Please review.

[2018-10-28 22:09] jwalteri commented on #7
@hupling Please review.

[2018-10-29 08:53] hupling commented on #3
jo passt

[2018-10-29 08:53] #3 closed, assigned to jwalteri

[2018-10-29 08:53] hupling commented on #7
jo passt

[2018-10-29 08:53] #7 closed, assigned to jwalteri

[2018-10-29 20:22] haerrel commented on #8
Review abgeschlossen.
Änderungen sind im vorherigen Commit enthalten.

[2018-10-29 20:22] #5 closed, assigned to haerrel

[2018-10-29 20:23] #10 closed, assigned to haerrel

[2018-10-29 20:23] #11 closed, assigned to haerrel

[2018-10-29 20:32] haerrel commented on #8
Hab eine Pfeilspitze übersehen auszubessern -> gerade nochmal recommited

[2018-10-30 20:36] jwalteri commented on #4
Review erfolgreich.

[2018-10-30 20:36] #4 closed, assigned to hupling

[2018-10-30 20:41] jwalteri commented on #9
Review erfolgreich.

[2018-10-30 20:41] #9 closed, assigned to hupling

[2018-10-31 06:42] #6 closed, assigned to SPortugall

[2018-10-31 06:42] #8 closed, assigned to SPortugall

[2018-11-02 14:22] hupling opened #12 "1. Systemidee auf Startseite des Wikis"

[2018-11-02 14:23] hupling opened #13 "4. Prototyp mit gestoryline.com erstellen"

[2018-11-02 14:23] hupling opened #14 "5. a) Anwendungsfalldiagramm"

[2018-11-02 14:24] hupling opened #15 "5 b) Beschreibung der Anwendungsfälle"

[2018-11-02 14:26] hupling opened #16 "6. c) Product Backlog im Github Project mit Github Issues erstellt"

[2018-11-02 14:27] hupling opened #17 "6. b) ii. Beschreibung der User Stories"

[2018-11-02 14:28] hupling opened #18 "6 b) i. Vollständigkeit der User Stories"

[2018-11-02 14:29] hupling opened #19 "7. Fachklassenmodell (Analyseklassenmodell)"

[2018-11-02 14:44] hupling commented on #12
Done

[2018-11-02 14:46] hupling commented on #13
Done. @LisaWenzl @VanessaGMeiler haben des schon in ihrer Vorlesung erstellt gehabt.

[2018-11-06 17:33] hupling commented on #13
Es müssen noch Kleinigkeiten geändert werden. Besprechen wir am Freitag

[2018-11-07 08:21] haerrel commented on #12
Unklarheiten beseitigen:
* Systemidee: Notierte Fragen im Wiki klären (https://github.com/sweIhm-ws2018-19/skillproject-fr-26/wiki/Systemidee---MUCtivities)
* Kann eine Systemidee nachträglich angepasst werden?

[2018-11-07 08:29] haerrel commented on #13
Für Freitag:

[2018-11-07 08:30] haerrel commented on #13
Für Freitag:
* Modell fertig?
* Modell zusammenstauchen und finalisieren
* ggf. erweitern

[2018-11-09 22:03] haerrel commented on #12
Anmerkungen von Frau Socher:
**bayrisch** Damit man nicht gezwungen ist dies zu implementieren, formuliert man in der Systemidee das Feature möglichst vage. So kann es nur ein einfaches "Servus" sein, dass das Feature schon erfüllt. Natürlich kann es auch je nach Zeit aufwendiger implementiert sein (z.B. via SSML)

**Systemidee** oberflächlich, so dass PO und Entwickler eine gemeinsame Idee davon

[2018-11-09 22:03] #12 closed, assigned to nobody

[2018-11-11 09:56] haerrel opened #20 "2. Skill Startseite / Systemidee"
Erstellen Sie im Wiki zu Ihrem Github Repository eine (neue) Startseite für die Systemidee Ihres Praktikumsprojekts. Schreiben Sie Ihre Systemidee auf die Startseite des Wikis

[2018-11-11 09:57] #20 closed, assigned to nobody

[2018-11-11 09:58] haerrel commented on #20
https://github.com/sweIhm-ws2018-19/skillproject-fr-26/wiki/Systemidee---MUCtivities

[2018-11-11 10:00] hupling commented on #20
#12 Das gleiche Issue

[2018-11-12 09:10] SPortugall commented on #13
Done

[2018-11-12 09:10] #13 closed, assigned to SPortugall

[2018-11-12 19:07] hupling commented on #19
![image](https://user-images.githubusercontent.com/11695964/48369330-84b9b700-e6b6-11e8-81b8-f81cb2104387.png)
@SPortugall please review!!!

[2018-11-12 19:09] hupling commented on #19
https://github.com/sweIhm-ws2018-19/skillproject-fr-26/wiki/0.-Sprint---Anforderungsanalyse-und-Product-Backlog#aufgabe-7

[2018-11-12 19:10] hupling commented on #13
https://getstoryline.com/shared/projects/027f1a47fd293a05153bac5346cddbd9438b8ca6

[2018-11-13 08:15] hupling commented on #13
url changed: https://app.invocable.com/shared/projects/027f1a47fd293a05153bac5346cddbd9438b8ca6

[2018-11-14 09:03] haerrel opened #21 "Wetter-Vorhersage"
Beschreibung:
Als Alexa-Benutzer möchte ich wetterabhängige Aktivitätsvorschläge erhalten

Akzeptanzkriterien:
- Erfassung der Wetterlage für den gesamten Tag
- Erfassung bei Ausführung des Skills

[2018-11-14 09:04] haerrel opened #22 "Lokalität abfragen"
Beschreibung:
Als Alexa-Benutzer möchte ich gefragt werden, ob ich drinnen oder draußen etwas unternehmen möchte, um die Aktivitätsvorschläge einzugrenzen

Akzeptanzkriterien:
- Benutzerabfrage, ob Aktivität drinnen oder draußen stattfinden soll
- Vorschlag, ob drinnen oder draußen anhand der Wetter-Vorhersage

[2018-11-14 09:10] haerrel opened #23 "Dauer abfragen"
Beschreibung:
Als Alexa-Benutzer möchte ich gefragt werden, wie lange die Aktivität sein soll, um die
Aktivitätsvorschläge einzugrenzen

Akzeptanzkriterien:
- Benutzerabfrage, ob ein paar Stunden oder den ganzen Tag

[2018-11-14 09:11] haerrel opened #24 "Kategorie abfragen"
Beschreibung:
Als Alexa-Benutzer möchte ich zwischen mehreren Aktivitätskategorien wählen können, um die Aktivitätsvorschläge einzugrenzen

Akzeptanzkriterien:
- Benutzerabfrage, ob Kultur, Sport, Spaß

[2018-11-14 09:12] haerrel opened #25 "Aktivitäten vorschlagen"
Beschreibung:
Als Alexa-Benutzer möchte ich basierend auf meinen Eingrenzungen mehrere Aktivitätsvorschläge erhalten

Akzeptanzkriterien:
- einen konkreten Vorschlag nennen und nachfragen, ob dieser Vorschlag interessant ist
- bei Desinteresse einen anderen Vorschlag nennen
- wenn kein weiterer Aktivitäts-Vorschlag vorhanden (nach mehrmaligem ablehnen der vorgeschlagenen Aktivitäten), dann wir der

[2018-11-14 09:41] haerrel opened #26 "Aktivitäts-Informationen"
Beschreibung:
Als Alexa-Benutzer möchte ich bei Interesse an einer Aktivität eine Kurzbeschreibung erhalten

Akzeptanzkriterien:
- Kurzbeschreibung zu Aktivität ausgeben
- Anschließend abfragen, ob Navigation gestartet werden soll

[2018-11-14 09:41] haerrel opened #27 "Navigations-Informationen"
Beschreibung:
Als Alexa-Benutzer möchte ich eine Navigation via ÖPNV angesagt bekommen, um einfacher zur Örtlichkeit der Aktivität zu kommen

Akzeptanzkriterien:
- Navigation anhand aktueller MVV/MVG/ÖPNV Informationen
- Ausgabe des Navigationsergebnisses

[2018-11-14 09:42] haerrel opened #28 "Begrüßung"
Beschreibung:
Als Alexa-Benutzer möchte ich begrüßt werden

Akzeptanzkriterien:
- Begrüßungsdialog wird ausgegeben

[2018-11-14 09:58] haerrel commented on #16
Reviewed by @jwalteri

[2018-11-14 09:58] #16 closed, assigned to haerrel, jwalteri

[2018-11-14 09:59] haerrel commented on #18
Reviewed by @jwalteri

[2018-11-14 09:59] #18 closed, assigned to haerrel, jwalteri

[2018-11-14 12:35] haerrel commented on #17
ToDo:
UserStorys #25 #27 noch nicht komplett ausdefiniert. Es gibt noch winzige Unklarheiten.
In Bearbeitung bei @LisaWenzl @VanessaGMeiler

[2018-11-14 12:51] haerrel opened #29 "1. Aktualisierung README.md"
Aktualisieren Sie das README.md Ihres Github Repositories. Schreiben Sie den Namen und eine kurze Beschreibung Ihres Skills.

[2018-11-14 12:53] haerrel opened #30 "2. Überprüfung u. Aktualisierung des Product-Backlogs"
Überprüfen und aktualisieren Sie Ihren Product-Backlog.

[2018-11-14 12:55] haerrel opened #31 "3. Sprint-Planning Meeting"
* Setzen Sie ein Sprint-Ziel (ein fachliches Ziel, nicht Release-1). Erstellen sie eine **Wiki-Seite für den 1. Sprint**. Notieren Sie das Sprintziel und eine Zusammenfassung der wesentlichen User Stories auf der Wiki-Seite.

* **Erstellen Sie einen Sprint-Backlog**. Verschieben Sie dazu diejenigen User Stories aus dem Product Backlog, die Sie für den 1. Sprint auswählen in die Spalte 'Ready' in I

[2018-11-14 13:12] haerrel opened #32 "4.1. UML Diagramme zu User Stories"
Stellen Sie für jede User Story Ihre Lösungsidee wenn möglich als UML Diagramm (z.B. UML Klassendiagramm oder UML Sequenzdiagramm) dar. Es kann manchmal sinnvoll sein, dass Sie die Lösungsidee zu mehreren User Stories in einem Diagramm zusammenfassen.

[2018-11-14 13:18] haerrel opened #33 "4.2. Programmierung der User Stories + Unit-Test"
* Programmieren Sie Ihre User Story.
* Erstellen Sie JUnit-Tests. JUnit-Tests stehen in einem Maven Projekt unter dem Verzeichnis src/test/java.Testen Sie automatisiert.

[2018-11-14 13:24] haerrel opened #34 "Release im Master Branch taggen"

[2018-11-14 22:31] SPortugall commented on #19
sieht gut aus, hätte dem nichts hinzuzufügen da ich auch kein anderes Beispiel eines Fachklassenmodells irgendwo finde.

[2018-11-14 22:31] #19 closed, assigned to hupling

[2018-11-14 22:32] SPortugall commented on #14
![untitled diagram](https://user-images.githubusercontent.com/43878655/48517090-81b0f900-e865-11e8-8ef8-747486af05bf.png)

@hupling  please Review

[2018-11-14 22:34] SPortugall commented on #14
Ich habe mir ein Beispiel an dem Diagramm aus den Folien zur Analyse genommen.

[2018-11-14 22:54] SPortugall commented on #15
@hupling please Review. Schau dir mal die Beschreibungen an, vllt fällt dir noch was ein, ansonnsten lassen wir es so.

[2018-11-15 07:25] hupling commented on #19
![image](https://user-images.githubusercontent.com/11695964/48536815-fdd02e80-e8af-11e8-8e0c-10999871e15f.png)

[2018-11-15 19:22] haerrel commented on #27
Beschreibung der UserStory nach Absprache mit @VanessaGMeiler angepasst

[2018-11-15 19:29] haerrel commented on #25
Beschreibung der UserStory nach Absprache mit @VanessaGMeiler angepasst

[2018-11-15 19:29] haerrel commented on #17
Unklarheiten mit POs geklärt

[2018-11-15 19:29] #17 closed, assigned to haerrel, jwalteri

[2018-11-15 21:16] SPortugall commented on #14
![untitled diagram 1](https://user-images.githubusercontent.com/43878655/48582195-1712c280-e924-11e8-8db1-09328ed3ed9a.png)

[2018-11-15 21:18] #14 closed, assigned to SPortugall

[2018-11-15 21:18] #15 closed, assigned to SPortugall

[2018-11-21 19:06] haerrel commented on #21
Ob gutes oder schlechtes Wetter ist bestimme ich anhand der ID des Wettericons.
https://openweathermap.org/weather-conditions

Gutes Wetter: id < "03x"
Schlechtes Wetter: alles andere

@VanessaGMeiler @LisaWenzl ist diese Wetterbestimmung ausreichend? sollen wir die Wetterbestimmung an anderen Kriterien bestimmen?

[2018-11-21 19:44] hupling commented on #25
von @LisaWenzl und @VanessaGMeiler  vorläufiger Entwurf der Aktivitäten: [word dokument](https://github.com/sweIhm-ws2018-19/skillproject-fr-26/blob/master/MUCtivities/Dokumente/Liste%20Aktivit%C3%A4ten.docx)

[2018-11-21 19:46] hupling commented on #25
![image](https://user-images.githubusercontent.com/11695964/48864949-677b9b80-edce-11e8-80b6-1678c2fd206d.png)
@hupling Tabellenvorschlag zum Speichern der Aktivitäten in der Datenbank

[2018-11-23 13:49] hupling commented on #28
**todo** einpflegen der Formulierungen von @LisaWenzl + @VanessaGMeiler

[2018-11-23 13:55] hupling commented on #21
von @VanessaGMeiler : Wir haben auch noch überlegt, ob wir das Wetter und der daraus folgende Vorschlag ob drinnen oder draußen anhand der Temperatur festmachen sollen
Somit umgehen wir zb das Problem, dass im Winter Aktivitäten vorgeschlagen werden, die nur von Frühling bis Herbst möglich sind
**todo**:

-  Formulierungen einpflegen,
- Gutes Wetter: (Temperatur > 15°C && sonnig), sonst Schlechtes

[2018-11-23 14:00] hupling commented on #22
Todo:
- Formulierungen einpflegen
- Es soll die Möglichkeit geben. Vor und Zurück zu Springen. z. B. von der Dauer zurück zur Lokalität

[2018-11-23 14:00] hupling commented on #23
Todo:
- Formulierungen einpflegen
- Es soll die Möglichkeit geben. Vor und Zurück zu Springen. z. B. von der Dauer zurück zur Lokalität

[2018-11-23 14:02] hupling commented on #24
Todo:
- Formulierungen einpflegen
- Es soll die Möglichkeit geben. Vor und Zurück zu Springen. z. B. von der Dauer zurück zur Lokalität

[2018-11-23 14:03] hupling commented on #24
Bei der Kultur-Kategorien gibt es noch Unterkategorien

[2018-11-23 14:08] hupling commented on #25
Beim Tipp des Tages soll eine zufällige Kategorie ausgegeben werden.
Todo:
-Einpflegen der Datensätze in die Datenbank + Anbindung des Skills an die Datenbank <br>(Datenbank= DynamoDB oder Csv Datei)
-Zusätzliches Feature: beim Vorschlag Bowling, soll die Bowling Bahn mit der kürzesten Entfernung ausgegeben werden

[2018-11-24 14:01] haerrel commented on #21
Logik für gutes Wetter im Code entsprechend angepasst

[2018-11-28 15:02] SPortugall commented on #29
@haerrel hat gesagt das passt so...

[2018-11-28 15:03] #29 closed, assigned to SPortugall

[2018-11-28 15:09] SPortugall commented on #22
@jwalteri und ich haben uns bemüht herauszufinden, wie der Skill den aktuellen Standort abfragen kann.
Aufgrund von erschwertem/unmöglichem Debugging des Skills und so gut wie keiner Dokumentation von der Alexa API, blieb uns nichts über, als zu dem Schluss zu kommen, dass es nicht möglich ist, in angemessener Zeit und mäßigen Kosten der eigenen Nerven und somit der Gesundheit, den Standort abzufr

[2018-11-28 15:10] jwalteri commented on #22
s.o.

[2018-11-28 15:13] haerrel commented on #25
@hupling @jwalteri
Siehe Commit: e900de5e96b0153b3a91e5e4456588096f09dd24
- JSON-Datenbank aktualisiert
- Ausgabe von "Tipp des Tages" mit eingebaut
- Ausgabe eines ersten Aktivitäts-Vorschlags mit eingebaut

[2018-11-28 15:16] hupling commented on #25
![0f9cbaf3-6fc0-42b4-99d8-d9ab9c57c182](https://user-images.githubusercontent.com/11695964/49161344-f20d4f00-f328-11e8-8e45-15764277c4e4.jpg)

[2018-11-28 15:16] hupling commented on #25
![32356cc2-3366-4edf-8b61-ca2323d20453](https://user-images.githubusercontent.com/11695964/49161360-f89bc680-f328-11e8-8706-edd0ac39a739.jpg)

[2018-11-28 15:19] haerrel opened #35 "Umbau der Dialogstruktur"
Die aktuelle JSON- und Alexa-Console-basierte Dialogstruktur (Delegate Directives) anhand von mehreren Slots in einem einzigen Intent auflösen in mehrere Intents und somit auch mehrere Java-Klassen umbauen.

## Ziel
aktuell ist der Dialog "straight-forward"
gewünscht ist jedoch auch zurück zu einem vorherigen Intent zu springen

[2018-11-28 15:23] jwalteri commented on #35
Die neue Version ist über "Das ist ein Testlauf" aufrufbar, während die alte Version noch mit "Mir ist langweilig" aufrufbar ist. Es fehlt noch, dass die Attribute, welche von Alexa zurückgeschickt werden, verarbeitet werden, sodass eine Aktivität vorgeschlagen werden kann.

[2018-11-28 15:24] hupling commented on #35
Hier ist der neue Dialogverlauf:
![bf055dc4-13b6-4210-9cfc-753ef765013f](https://user-images.githubusercontent.com/11695964/49161872-056cea00-f32a-11e8-81af-7853e1122cfc.jpg)

[2018-11-28 15:25] jwalteri commented on #35
Hier ist der Commit davon: c67ba33c1f59ccb90a872bd07d3090ec97c44e62

[2018-11-28 15:29] haerrel commented on #27
Mit @VanessaGMeiler @LisaWenzl besprochen:
Priorität gering, von allen Userstories wird diese als letztes bearbeitet

[2018-11-28 15:32] haerrel commented on #26
Kurzbeschreibung in die JSON-Datenbank eingepflegt, somit kann diese in Zukunft abgefragt werden.

[2018-11-28 15:34] #30 closed, assigned to hupling, haerrel, jwalteri, SPortugall

[2018-11-28 16:02] #31 closed, assigned to hupling, haerrel, jwalteri, SPortugall

[2018-11-28 16:25] haerrel commented on #22
![image](https://user-images.githubusercontent.com/38572411/49165892-84662080-f332-11e8-8306-d25edb2fde2b.png)

[2018-11-28 16:31] haerrel commented on #21
![image](https://user-images.githubusercontent.com/38572411/49166332-6c42d100-f333-11e8-9302-b5ce3369e384.png)

[2018-11-28 16:45] haerrel commented on #23
![image](https://user-images.githubusercontent.com/38572411/49167296-64842c00-f335-11e8-818a-8469b75b13e5.png)

[2018-11-28 16:49] haerrel commented on #24
![image](https://user-images.githubusercontent.com/38572411/49167545-dfe5dd80-f335-11e8-9e7b-42823c888860.png)

[2018-11-28 16:56] haerrel commented on #25
![image](https://user-images.githubusercontent.com/38572411/49168010-eb85d400-f336-11e8-8651-581cb47e523d.png)

[2018-11-28 17:03] haerrel commented on #26
![image](https://user-images.githubusercontent.com/38572411/49168487-e2e1cd80-f337-11e8-91f6-06ee0835b07b.png)

[2018-11-28 17:06] haerrel commented on #27
![image](https://user-images.githubusercontent.com/38572411/49168711-63083300-f338-11e8-8705-581f9c55c1a2.png)

[2018-11-28 17:11] haerrel commented on #21
@SPortugall bitte reviewn

[2018-11-28 17:15] SPortugall commented on #21
Implemented in pair-programming -> review done

[2018-11-28 17:15] #21 closed, assigned to haerrel

[2018-11-28 17:16] jwalteri commented on #22
Please review.

[2018-11-28 17:16] jwalteri commented on #22
@hupling Please review.

[2018-11-28 17:17] hupling commented on #22
is ok.

[2018-11-28 17:17] #22 closed, assigned to jwalteri, SPortugall

[2018-11-28 17:20] #32 closed, assigned to nobody

[2018-11-28 17:20] #33 closed, assigned to nobody

[2018-11-28 18:02] #34 closed, assigned to nobody

[2018-12-07 11:03] haerrel opened #36 "Tipp des Tages"
Der User soll eine zufällige Aktivität vorgeschlagen bekommen
und danach den "weitere Information anzeigen" Dialog ausgegeben bekommen.

Akzeptanzkriterien:
- Zufällige Aktivität ausgeben
- Auf Wunsch weitere Informationen ausgeben

[2018-12-07 11:03] haerrel opened #37 "Tipp des Tages"
Der User soll eine zufällige Aktivität vorgeschlagen bekommen
und danach den "weitere Information anzeigen" Dialog ausgegeben bekommen.

Akzeptanzkriterien:
- Zufällige Aktivität ausgeben
- Auf Wunsch weitere Informationen ausgeben

[2018-12-11 21:59] hupling opened #38 "Tipp des Tages (PRIO 3)"
1. Ausgabe des Tipp des Tages
2. Weiter Informationen auf Wunsch ausgeben (wie gewohnt)

[2018-12-11 21:59] hupling opened #39 "Vorgegebene Formulierungen einpflegen (Eingabe- und Ausgabephrasen) (PRIO2)"
1. Alexa Console JSON Datei
2. Random-Picker wählt eine Phrase (Klasse: Phrases)

[2018-12-11 22:00] hupling opened #40 "Wetter „Drinnen oder Draußen?“ (PRIO 5)"
Aktuell: public static final String WEATHER_SUNNY = "Heute wird ein sonniger Tag. Möchtest du etwas draußen oder drinnen unternehmen?"; public static final String WEATHER_RAINY = "Heute ist ein greisliges Wetter draußen, am besten bleibst du heut drin oder magst du etwas draußen unternehmen?"; Statt „draußen oder drinnen“ eine YesNo-Abfrage mit entsprechendem Handling

[2018-12-11 22:03] hupling opened #41 "Fehleingaben beim LocationIntent (siehe Word-Dokument mit Phrasen zu den Falscheingaben) (PRIO 7)"
Reprompt Attribut für jede Klasse als Seasson Attribute einfügen

[2018-12-11 22:03] hupling commented on #41
funktioniert noch nicht richtig. muss noch getestet werden

[2018-12-11 22:03] hupling opened #42 "Aktivitäts Datenbank wird von den Mädels überarbeitet, diese neu einpflegen (PRIO 4)"

[2018-12-11 22:04] hupling opened #43 "Zurück springen (PRIO 8)"
Session-Attribut auf den Vorgänger (nur Vorgänger, nicht Vor-Vorgänger) springen

[2018-12-11 22:04] hupling opened #44 "Nach Vorschlag 3 (PRIO 6)"
a.	Vorschlag1 -> Nein -> Vorschlag2 -> Nein -> Vorschlag3 -> Nein -> Kategorie) Siehe Storyline)

[2018-12-11 22:04] hupling opened #45 "Information zur Aktivität ausgeben (PRIO 1)"

[2018-12-11 22:05] hupling opened #46 "„Lang“ und „Nicht Lang“ werden falsch interpretiert. Schuld ist der ML Algo (PRIO 9)"

[2018-12-12 11:37] haerrel commented on #45
https://github.com/sweIhm-ws2018-19/skillproject-fr-26/commit/3ede32ba6855618fa156e9837c0bd5cf8289ea1c

[2018-12-12 11:37] #45 closed, assigned to nobody

[2018-12-12 11:40] haerrel commented on #38
https://github.com/sweIhm-ws2018-19/skillproject-fr-26/commit/0aa8f0ac469b0d869c6a6f48715ace526fcd2509

[2018-12-12 11:40] #38 closed, assigned to nobody

[2018-12-12 11:59] #42 closed, assigned to nobody

[2018-12-12 12:47] haerrel commented on #39
Reviewed durch Pair-Programming

[2018-12-12 12:47] #39 closed, assigned to nobody

[2018-12-12 12:47] haerrel commented on #44
Reviewed durch Pair-Programming

[2018-12-12 12:47] #44 closed, assigned to nobody

[2018-12-12 12:48] haerrel commented on #40
Reviewed durch Pair-Programming

[2018-12-12 12:48] #40 closed, assigned to nobody

[2018-12-12 12:48] haerrel commented on #41
Reviewed durch Pair-Programming

[2018-12-12 12:48] #41 closed, assigned to nobody

[2018-12-12 12:49] haerrel commented on #37
Reviewed durch Pair-Programming

[2018-12-12 12:49] #37 closed, assigned to nobody

[2018-12-12 12:50] haerrel commented on #36
Reviewed durch Pair-Programming

[2018-12-12 12:50] #36 closed, assigned to nobody

[2018-12-12 12:50] haerrel commented on #35
Reviewed durch Pair-Programming

[2018-12-12 12:50] #35 closed, assigned to hupling, haerrel, jwalteri, SPortugall

[2018-12-12 12:51] haerrel commented on #28
Reviewed durch Pair-Programming

[2018-12-12 12:51] #28 closed, assigned to hupling, SPortugall

[2018-12-12 12:51] haerrel commented on #24
Reviewed durch Pair-Programming

[2018-12-12 12:51] #24 closed, assigned to nobody

[2018-12-12 12:52] haerrel commented on #25
Reviewed durch Pair-Programming

[2018-12-12 12:52] #25 closed, assigned to haerrel

[2018-12-12 12:52] haerrel commented on #26
Reviewed durch Pair-Programming

[2018-12-12 12:52] #26 closed, assigned to nobody

[2018-12-12 12:52] haerrel commented on #23
Reviewed durch Pair-Programming

[2018-12-12 12:52] #23 closed, assigned to nobody

[2018-12-12 13:16] haerrel opened #48 "Phrase einpflegen"
Phrasen für Vorschlag 1  um folgenden Satz erweitern:
"Sau guad, München hat in dieser Kategorie viel zu bieten! Wie wäre es denn mit ...?"

[2018-12-12 13:26] jwalteri commented on #35
![aktivitatsdiagramm](https://user-images.githubusercontent.com/43862813/49872619-ec7c3280-fe19-11e8-8197-9e1d03775430.png)

[2018-12-12 14:04] LisaWenzl opened #49 "Synonyme Ja/Nein"
Allgemeine Ja/Nein Synonyme des Users sollen für verschiedene Intents im Dialog anwendbar sein (siehe Word Dokument Ja/Nein Synonyme)

[2018-12-12 15:51] hupling commented on #49
![image](https://user-images.githubusercontent.com/11695964/49881218-18091800-fe2e-11e8-8eea-7b21ddd4be4e.png)
Alles wurde schön von @jwalteri  eingepflegt

[2018-12-13 18:43] VanessaGMeiler opened #50 "Phrasen ändern"
- Begrüßung:
1. Servus! Ich bin **das Münchner Kindl** und du kannst mich nach einem **personalisierten Vorschlag für eine Aktivität in München oder nach** dem Tipp des Tages fragen. **Was möchtest du wissen?**
2. Grias di! Frage mich nach einem personalisierten Vorschlag für eine **Aktivität** in München **oder nach**  dem Tipp des Tages und ich helfe dir sehr gerne weiter. Wonach suchst du?
3. S

[2018-12-13 19:31] VanessaGMeiler opened #51 ""Ende" - Verabschiedungsphrase fehlt"
Verabschiedung kommt nicht, wenn man "Ende" sagt.

[2018-12-13 19:34] VanessaGMeiler opened #52 "Kurze Verabschiedungsphrase bei allen Informationen"
Jedes Mal, wenn eine Information zu einer Aktivität ausgegeben wird, soll noch die Phrase
"Viel Spaß und bis zum nächsten Mal! Pfiad di, Servus!" oder als Alternative die Phrase
"Viel Spaß in München und bis zum nächsten Mal! Pfiat di, mach’s gut!" angehängt werden.

[2018-12-13 19:42] hupling commented on #51
![image](https://user-images.githubusercontent.com/11695964/49963196-968db480-ff17-11e8-83a8-0ca3744bedc7.png)
leider keine antwort bei whatsapp bekommen. darum ist das problem unklar

[2018-12-13 19:54] VanessaGMeiler opened #53 "Vorschläge ausschließen, wenn sie schon mal genannt wurden"
Vorschläge die schon genannt wurden ausschließen, um Wiederholungen zu vermeiden

[2018-12-13 19:55] VanessaGMeiler commented on #53
Vorschläge die schon genannt wurden ausschließen, um Wiederholungen zu vermeiden

[2018-12-13 20:14] haerrel commented on #53
Hast du hierzu einen Screenshot (samt JSON-Input und JSON-Output).
Nach Programmlogik entfernen wir nämlich immer den soeben genannten Vorschlag aus der Auswahl für die nächst genannten Vorschläge. Das haben wir auch verifiziert.

[2018-12-13 20:16] hupling commented on #49
Phasen wurden wieder geändert

[2018-12-13 20:19] haerrel commented on #52
Verstehe ich den Aufbau richtig?
Alexa: Wie wäre es mit ....? Möchtest du dazu mehr Informationen=
User: Ja!
Alexa: %Ausgabe von weiteren Informationen zur Aktivität% + %eine der oben genannten phrasen%
In welchem Zustand soll das Skill dann danach sein?
- Beendet? Also sodass wieder "Öffne Muctivities" gesagt werden müsste.
- Oder soll es auf Phrasen wie "mir ist langweilig" bzw "Tipp des Tages"

[2018-12-13 20:42] haerrel commented on #50
@hupling buildest du bitte nochmal und lädst es in den AWS hoch?

[2018-12-13 20:44] hupling commented on #50
Machen wir morgen alles. Vor der Stunde.

[2018-12-13 22:00] VanessaGMeiler commented on #52
Eigentlich beendet, man hat ja dann seine Aktivität gefunden, bin aber nicht ganz sicher was du im zweiten Punkten mit „warten“ meinst

[2018-12-13 22:12] LisaWenzl commented on #52
Besser wäre wahrscheinlich wenn es wartet - wenn die "Zurück"Schritte implementiert sind, könnte der Nutzer das an der Stelle evtl. sagen - ist das dann möglich?

[2018-12-14 16:02] haerrel opened #54 "Tipp des Tages"
Tipp des Tages gibt aktuell noch am selben Tag unterschiedliche Tipps aus.

Tipp des Tages sollte innerhalb eines Tages immer den selben Vorschlag geben.

[2018-12-16 10:48] LisaWenzl commented on #54
Nach der Info sollte Möglichkeit gegeben werden zur personalisierten Idee oder zum Ende zu springen.
"Möchtest du noch einen personalisierten Vorschlag für eine Aktivität haben oder beenden?"

[2018-12-16 10:53] LisaWenzl opened #55 "Fallback"
Wenn User bei Begrüßung nicht verstanden wird, wird im Moment immer die Begrüßung wiederholt. Stattdessen: "Das habe ich leider nicht verstanden. Bitte sage "personalisierter Vorschlag" oder "Tipp des Tages."

[2018-12-19 09:04] hupling commented on #55
gelöst

[2018-12-19 12:54] hupling commented on #49
hier könnt ihr neue ja/nein synoyme hinzufügen
![image](https://user-images.githubusercontent.com/11695964/50221462-76397c00-0395-11e9-8a12-4567f3ac2412.png)

[2018-12-19 12:54] #49 closed, assigned to nobody

[2018-12-19 12:55] hupling commented on #27
mit POs vereinbart, dass nicht mehr machbar in der Zeit
--> closed

[2018-12-19 12:55] #27 closed, assigned to nobody

[2018-12-19 12:56] #55 closed, assigned to nobody

[2018-12-19 12:56] #54 closed, assigned to haerrel

[2018-12-19 12:56] #53 closed, assigned to nobody

[2018-12-19 12:57] hupling commented on #53
da keine weiteren Informationen
--> close
--> wenn das Problem noch besteht reopen

[2018-12-19 12:57] #52 closed, assigned to nobody

[2018-12-19 12:58] #51 closed, assigned to nobody

[2018-12-19 12:58] #50 closed, assigned to nobody

[2018-12-19 12:58] #48 closed, assigned to nobody

[2018-12-19 14:06] LisaWenzl opened #57 "Bayrische Lautschrift"
- Grias di: gRi:6_^sdI
- Greisliges: gRaIzlICEz
- Basst: basd
- Guad: gu:6_^d
- Super Gschicht: sUbb6 gSICd
- Ja mei: jO6_^ maI
- Zefix: ts@"fIks
- Mei, des wird a Gaudi: maI de:z vE6_^d a gaUde:
- Mei, des wird gspassig: maI de:z vE6_^d gSbasIg
- pfiad di: pfi:6_^d di:

[2018-12-19 21:47] hupling commented on #57
https://developer.amazon.com/de/docs/custom-skills/speech-synthesis-markup-language-ssml-reference.html#supported-symbols
Ihr müsst das so formatieren, sonst können wir damit nichts anfangen
![image](https://user-images.githubusercontent.com/11695964/50250059-1ae0ab80-03e0-11e9-8ee6-aeded38f6583.png)

[2018-12-21 10:58] haerrel commented on #57
Videoanleitung zur Benutzung und Verifizierung der Sprach-Ausgabe in Whatsapp Gruppe

[2018-12-21 11:13] haerrel commented on #46
nach Absprache im gesamten Team wurde entschieden, dass dies nicht mehr implementiert wird

[2018-12-21 11:13] #46 closed, assigned to nobody

[2018-12-21 11:13] haerrel commented on #43
nach Absprache im gesamten Team wurde entschieden, dass dies nicht mehr implementiert wird

[2018-12-21 11:13] #43 closed, assigned to nobody

[2018-12-21 11:18] haerrel opened #58 "Phrasen final einpflegen"
@LisaWenzl  und @VanessaGMeiler werden bis 07.01. die finalen Phrasen herausarbeiten und diese werden dann vom Entwicklerteam final eingepflegt.

[2019-01-03 12:09] LisaWenzl opened #59 "Auswahl nach Info"
Statt dem direkten Ende nach der Info soll der User die Möglichkeit haben auszuwählen, ob er den Skill beenden möchte oder ob er einen neuen Vorschlag möchte. Formulierung siehe Dokument Alexa Formulierungen in der Dropbox. Falls neuer Vorschlag ausgewählt wird, soll ein zufälliger Vorschlag aus der gleichen Kategorie genannt werden.

[2019-01-06 19:45] VanessaGMeiler opened #60 "Tipp des Tages: Unterteilung in Schritten"
Beim Tipp des Tages fehlt die Unterteilung in Schritten.
Jetzt gerade werden einfach 3 Fragen auf einmal an den Tipp gehängt.
Aber es sollte wie folgt aufgebaut sein:

 „Tipp X. Möchtest du mehr Informationen?“
  -> **Ja**: „Info X. Möchtest du den Skill beenden oder noch einen personalisierten Vorschlag?“
  -> **Nein**: „Basst. Möchtest du den Skill beenden oder noch einen personalisierten Vorsch

[2019-01-06 19:53] VanessaGMeiler opened #61 ""Spezielle" Ja/Nein Synonyme für Information und Vorschlag"
Es fehlen noch die Ja/Nein Synonyme, die speziell für Vorschlag und Information definiert wurden in der Datei "Nutzerantworten".

z.B. "Ich brauche keine Information." oder "Auf Bowling/die Aktivität hab ich keine Lust."

-> Kann man die einfach alle in die allgemeinen Ja/Nein Synonyme einfügen oder muss man extra einen Intent oder Slot Type (was auch immer) dafür erstellen?

[2019-01-06 20:01] VanessaGMeiler opened #62 "Formulierte Phrasen bei Nicht-Verstehen"
Wir hatten ja extra Phrasen formuliert, die Alexa sagen soll, wenn sie den Nutzer nicht versteht. Sie soll ihre Frage ja dann nochmal "einfacher" wiederholen.
Das hatte anfangs ja eigentlich gut funktioniert, aber nach mehrmaligem Testen ist uns aufgefallen, dass sie das nicht mehr macht.
Jetzt kommt fast immer, wenn sie etwas nicht versteht "Heute ist Regen angesagt...", egal bei welchem Intent m

[2019-01-06 20:25] LisaWenzl commented on #58
[Alexa Formulierungen.docx](https://github.com/sweIhm-ws2018-19/skillproject-fr-26/files/2730833/Alexa.Formulierungen.docx)

[2019-01-06 20:28] LisaWenzl opened #63 "Überarbeitete Informationen"
Siehe Excel CSV Datei in Dropbox.

[2019-01-08 11:25] hupling commented on #63
wurde geändert 4e3669c302323fff8231d0f9aa0b17bc57ab6d92

[2019-01-08 11:47] #63 closed, assigned to nobody

[2019-01-08 12:07] hupling commented on #58
bbf515ae81c900b0866da03e32d749f0470639cf

[2019-01-08 13:37] hupling commented on #62
das liegt glaube ich am auto lernen von alexa

[2019-01-09 12:39] VanessaGMeiler opened #64 "Demo erstellen"
Der Kommunikationsstrang der Demo sollte im Aufbau und den Formulierungen bitte exakt dem Dialog in der Datei entsprechen.
-> bitte die bayrische Laitschrift nicht vergessen

Dann sollte hoffentlich nichts schief gehen bei der Vorführung

[Demo MUCtivities.docx](https://github.com/sweIhm-ws2018-19/skillproject-fr-26/files/2740884/Demo.MUCtivities.docx)

(-> Datei ist auch in der Dropbox)

[2019-01-09 13:23] #60 closed, assigned to nobody

[2019-01-09 13:28] #59 closed, assigned to nobody

[2019-01-09 13:56] hupling commented on #61
"Ich brauche keine Information." kann hinzugefügt werden einfach den AMAZON.NoIntent bzw AMAZON.YesIntent anpassen.

Bei dem anderen geht das leider nicht, da hier ein Platzhalter benötigt wird. In diesem Fall "Bowling" bzw. der Aktivitätsname. Die Amazon Intents unterstützen das leider nicht. Siehe Fehlermeldung im Screenshot.

![image](https://user-images.githubusercontent.com/11695964/50903538-

[2019-01-09 13:56] #61 closed, assigned to nobody

[2019-01-09 15:13] hupling commented on #62
neue version
![image](https://user-images.githubusercontent.com/11695964/50908151-6a3b5a00-1429-11e9-8efe-ace7ba336ecf.png)
alle phrasen gelöscht
![image](https://user-images.githubusercontent.com/11695964/50908182-7b846680-1429-11e9-9651-4fc13442ebb0.png)

[2019-01-09 19:25] VanessaGMeiler opened #65 "Info - Wahl eines anderes Vorschlags"
Nach der Info ist es nicht möglich, einen neuen Vorschlag zu bekommen. Muss man da noch iwas verbinden oder Synonyme definieren oder so? Skill beenden nach der Info funktioniert.
![image](https://user-images.githubusercontent.com/44700500/50923384-1e9aa780-144d-11e9-947c-a4a9500ffa89.png)

[2019-01-09 19:56] VanessaGMeiler opened #66 "Fehler in der Formulierung bei "Nicht-Verstehen""
Die Nein-Option bei Nicht-Verstehen im Location-Intent fehlt ist uns aufgefallen, wär super wenn man die noch in der Formulierung einfügen könnte!
![image](https://user-images.githubusercontent.com/44700500/50924719-af26b700-1450-11e9-8914-80f7143216eb.png)

[2019-01-09 22:03] LisaWenzl commented on #65
Gleiches Problem bei Tipp des Tages.

[2019-01-09 22:05] LisaWenzl opened #67 "Bei Tipp des Tages keine Verabschiedung"
![image](https://user-images.githubusercontent.com/44700479/50931513-0fbeef80-1463-11e9-84ae-916179b56077.png)

[2019-01-09 22:09] LisaWenzl commented on #57
"Guad" wird teilweise nicht richtig ausgesprochen. Bei Testing aufgefallen im Ausdruck "sau guad".
Bitte auch dafür bayrische Lautschrift einpflegen.

[2019-01-09 23:01] LisaWenzl commented on #58
Bitte nochmals überprüfen, einige Formulierungen wurden nicht laut unseren Vorgaben (siehe Dok.) geändert.
z.B. "noch mehr/andere tolle Aktivitäten" --> noch andere tolle Aktivitäten
      "Super Gschichtda" --> Super Gschicht

[2019-01-10 06:33] haerrel commented on #57
Diese beiden Phrasen sind bei uns die einzigen mit "sau guad".
Beide haben das Lautschrift "guad" drin.

![image](https://user-images.githubusercontent.com/38572411/50950180-6a7b3a00-14a9-11e9-864a-c159143dd66f.png)

Hier ist z. B. eine Ausgabe die ich gerade erhalten habe:

Die Lautschrift ist korrekt angegeben. Ist dieses Beispiel richtig ausgesprochen?
Ihr könnt das ja mal bei euch im Voice&Ton

[2019-01-10 06:52] haerrel commented on #58
Hab die zwei Fehler korrigiert.
Habe nach vergleichbaren Fehlern gesucht und nichts weiteres gefunden.

Eure Phrasen stehen bei uns hier im Code. Ist denke ich auch für einen Nicht-Entwickler einfach zu verstehen, da ja die Sätze eig. nahezu 1-zu-1 übernommen wurden. Für den Fall, dass ihr noch detaillierter bzw. genauer Suchen wollt.
https://github.com/sweIhm-ws2018-19/skillproject-fr-26/blob/mas

[2019-01-10 06:52] #58 closed, assigned to nobody

[2019-01-10 07:34] #57 closed, assigned to LisaWenzl, VanessaGMeiler

[2019-01-10 07:48] hupling commented on #66
hinzugefügt

[2019-01-10 07:48] #66 closed, assigned to nobody

[2019-01-10 07:53] hupling commented on #67
problem behoben

[2019-01-10 07:53] #67 closed, assigned to nobody

[2019-01-10 08:30] #65 closed, assigned to nobody

[2019-01-11 08:16] #64 closed, assigned to nobody

[2019-01-11 08:16] #62 closed, assigned to nobody